<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/user.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body id="body">
    <div class="left-col">
      <div class="logo">
        <img
          src="{{url_for('static', filename='images/logo.png')}}"
          style="width: 250px; height: 250px"
        />
      </div>
    </div>

    <div class="right-col">
      <div class="narbar">
        <ul>
          <li>
            <a id="home" href="home">Home</a>
          </li>
          <li>
            <a class="active" href="twitter">Twitter</a>
          </li>
          <li>
            <a href="user">User Reviews</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
          <li>
            <a href="help">Help</a>
          </li>
<!--          <li>-->
<!--            <a href="churn">Churn Rate</a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
    <div class="herobox">
      <h3
        class="card-title text-center"
        style="
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          padding-top: 10px;
        "
      >
        Customer Reviews
      </h3>
      <form id="upload-file" enctype="multipart/form-data" method="post">
        <div class="row">
          <div class="columnmodel">
            <label><strong>Upload Company CSV File:</strong></label>
          </div>
          <div class="columnmodel2">
            <div class="custom-file">
              <input
                required
                type="file"
                name="files"
                multiple
                class="custom-file-input form-control"
                id="customFile"
                accept=".csv"
              />
              <label class="custom-file-label" for="customFile"
                >Choose file</label
              >
            </div>
          </div>
        </div>

        <div class="form-group">
          <button
            type="submit"
            name="upload"
            value="upload"
            id="openmodal"
            class="uploadbutton"
          >
            Analyze Information
          </button>
        </div>  
      </form>
      <!-- <button id="openmodal" class="uploadbutton">Open Modal</button> -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <h3 style="text-align: center;">Please Wait!!</h3>
          <div id="spinner" class="loader"></div>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function () {
    $('input[type="file"]').on("change", function () {
      let filenames = [];
      let files = document.getElementById("customFile").files;
      if (files.length > 1) {
        filenames.push("Total Files (" + files.length + ")");
      } else {
        for (let i in files) {
          if (files.hasOwnProperty(i)) {
            filenames.push(files[i].name);
          }
        }
      }
      $(this).next(".custom-file-label").html(filenames.join(","));
    });

    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openmodal");

    btn.onclick = function () {
      modal.style.display = "block";
      $("#spinner").css("display", "block");
      $("#spinner").show();
    };
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "block";
      }
    };
    window.onload = function () {
      $("#spinner").hide();
    };
  });
</script>
