.header {
  overflow: hidden;
  background-color: #000b37;
  padding: 5px 10px;
}

.header a {
  float: left;
  color: White;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #00d4e5;
  color: black;
}

.header a.active {
  background-color: #00d4e5;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
/* css by wenushka */
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efcaff;
  /*#8E4EE2*/
  /* background-image: url({{ url_for('static', filename='images/bg.jpg') }}) */
}
.left-col {
  flex-basis: 40%;
}
.logo {
  margin-top: -60px;
}
.right-col {
  flex-basis: 60%;
}
.narbar {
  position: absolute;
  right: 45px;
  top: 35px;
  display: flex;
}
.narbar li {
  list-style: none;
  margin: 0 40px;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  cursor: pointer;
}
.narbar li a {
  text-decoration: none;
  color: black;
}
.narbar a:hover {
  -webkit-transition: all 0.4s ease-out;
  color: #ff6a25;
}
.viewUserReBT {
  width: 200px;
  height: 70px;
  border-style: none;
  font-size: 18px;
  border-radius: 0 20px 0 20px;
  background-color: #ff6a25;
  color: white;
}
hr.line1 {
  border: 1px solid #f00;
}

.buttonBox {
  background-color: #f5a079;
  width: 150px;
  height: 50px;
}
